/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Customizations*/

body {
    color: white;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: #2d313f;
    padding: 10px 0px 80px 0px;
}

h1 {
    font-size: 50px;
    margin-left: 80px;
    padding: 10px;
}

h2 {
    font-size: 40px;
    margin-left: 80px;
    margin-bottom: 20px;
    padding: 10px;
}

h3 {
    font-size: 30px;
    margin: 5px 80px;
    padding: 4px 0px;

}

h4 {
    font-size: 20px;
    margin-left: 60px;
    padding: 30px 8px 200px 8px;
    color: rgba(185, 181, 181, 0.851);
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    
    margin-left: 80px;
}

section {
    margin: 0;
    padding: 20px 0px 50px 0px;
    margin-bottom: -6px;
    display: block;
}

hr {
    margin: 0px 80px;
    border: none;
    border-top: 1px solid gray;
}


nav {
    background-color: #2d313f;
}

p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    padding: 20px 0px;
    margin: 5px 80px;
    color: rgba(185, 181, 181, 0.889);
}

#section-one {
    background-color: #2d313f;
    color: white;
}

#section-two {
    background-color: #4c6194;

}

#section-three {
    background-color: #45598b;

}

#section-four {
    background-color: #3f5283;

}

img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    padding: 30px;
    margin-left: 70px;
}

footer {
    background-color: #2d313f;
    padding: 20px;
}


/* 
Color 2: #4c6194
Color 3:#45598b
Color 4:#3f5283
Color 5:#2d313f 

*/